// -------------- THEME SWITCHER -------------- //
@mixin dark-appearance {
  filter: invert(1);
  img {
    filter: invert(1);

    &.ioda { filter: invert(0); }
  }
}

body[a="dark"] { @include dark-appearance; }


@media (prefers-color-scheme: dark) {
  body[a="auto"] { @include dark-appearance; }
}

body[a="light"] h1 { font-family: "NanumSquareNeoHeavy", sans-serif; text-decoration: none; letter-spacing: 0.05em; }

body[a="light"] a { color: #00af66; text-decoration: none; }

body[a="light"] a:hover { color: #8B0000; text-decoration: none; }

body[a="light"] li span {
  color: dimgray;
  display: inline-block; /* inline-block으로 설정해야 width가 적용됨. */
  width: 110px;
  text-align: left; /* 오른쪽 정렬로 설정하여 날짜가 항상 같은 위치에 오도록 한다. */
}

body[a="light"] strong {
  color: #E86335;
}

// -------------------------------------------- //

// bg color is also needed in html in order to
// block body's background propagation
// see: https://stackoverflow.com/a/61265706
html, body {
  font-family: "NanumSquareNeoHeavy", sans-serif;
  line-height: 1.4;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
  -webkit-text-size-adjust: 100%; /* Prevents text resizing in landscape */
}

@font-face {
  font-family: "NanumSquareNeo";
  src: url("../fonts/NanumSquareNeoTTF-dEb.woff") format('woff');
}

@font-face {
  font-family: "NanumSquareNeoHeavy";
  src: url("../fonts/NanumSquareNeoTTF-eHv.woff") format('woff');
}


.post-meta { text-align: right; }

h1 {
  margin-bottom: 4rem;
}

h2, h3, h4, h5, h6 { margin-top: 6rem; }

hr { margin: 2rem 0; }

p { margin: 1rem 0; }

li { margin: 0.6rem 0; }

*:target { background: yellow; }

.w {
  max-width: 780px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

hr {
  text-align: center;
  border: 0;

  &:before { content: '/////' }
  &:after { content: attr(data-content) '/////' }
}

table { width: 100%; }

table, th, td {
  border: thin solid black;
  border-collapse: collapse;
  padding: 0.4rem;
}

code {
  color: black;
  background: #00af66;
  font-size: 1.2em;
  font-weight: bolder;
}

div.highlighter-rouge code {
  display: block;
  overflow-x: auto;
  white-space: pre-wrap;
  padding: 1rem;
}

blockquote {
  font-style: italic;
  border: thin solid black;
  padding: 1rem;

  p { margin: 0; }
}

blockquote p a {
  line-height: 1.8;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.w > ul {
  padding: 0 0 0 0rem;
  margin: 0 0 0 0;
}

.w > ul > ul {
  padding: 0 0 0 1rem;
}

/* Responsive design */
@media screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }

  .w {
    padding: 2rem 2rem;
  }

  .w > ul {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }

  h2 {
    font-size: 1.2em;
    margin-top: 4rem;
  }

  /* Increase touch target size */
  a, button {
    font-size: 1em;
  }

  code {
    color: black;
    background: #00af66;
    font-size: 1em;
    font-weight: bolder;
  }

  blockquote {
    margin-inline-start: 0.5em;
    margin-inline-end: 0.5em;
  }

  blockquote p a {
    line-height: 1.8;
    font-size: 0.9em;
  }

  body[a="light"] li span {
    color: dimgray;
    display: inline-block; /* inline-block으로 설정해야 width가 적용됨. */
    width: 100px;
    text-align: left; /* 오른쪽 정렬로 설정하여 날짜가 항상 같은 위치에 오도록 한다. */
  }
}
